.events {
    background: linear-gradient(rgba(0, 0, 0, 0.15),
            rgba(0, 0, 0, 0.15)), url('../images/events-bg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    grid-area: 1 / 2 / 2 / 3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events-container {
    background-color: rgba(0, 0, 0, 0.7);
    width: 60%;
    height: 70%;
    border-radius: 16px;
    color: #FFF;
    padding: 4rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.events-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

.events-container>div {
    border-radius: 20px;
    border: 1px solid white;
    padding: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.events-container>div>h3 {
    font-size: 0.9rem;
}

.events-container>div>p {
    font-size: 0.75rem;

}